h1{
    background-color: indigo;
}
div{
    border: 1px solid indigo;
    border-radius: 20px;
    padding: 1%;
    width: 200px;
    position: absolute;
    left: 350px;
    top: 100px;
}